/.github export-ignore
/deploy export-ignore
/docs export-ignore
/k8s export-ignore
.dockerignore export-ignore
.gitattributes export-ignore
.php-cs-fixer.dist.php export-ignore
Dockerfile export-ignore
codecov.yml export-ignore
docker-compose.yml export-ignore
mkdocs.yml export-ignore
okteto-pipeline.yml export-ignore
