.list-group .dragAndDropPlaceholder{
    list-style: none;
}

/* On the Edit Product page, the width is set to 0px when the Relations tab is not focused.
Give it a width so select2 does not override it with width: auto */
.select2-container {
    width: 100% !important;
}


/** Fix a bad vertical alignment in the datepicker */
input[type="date"].form-control,
input[type="time"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control {
    line-height: normal !important;
}

/** Datagrid */
.fork-data-grid .thumb img {
    display: block;
    border: 1px solid #D1D5DB;
}
