<div id="sb-search" class="sb-search">
    {{ form_start(form) }}
        {{ form_widget(form.query, { 'attr' : { 'class': 'sb-search-input' } }) }}
        <input class="sb-search-submit" type="submit" value="">
        <span class="sb-icon-search"></span>
    {{ form_end(form) }}
</div>