<div class="cart-button cartWidget">
    <a href="{{ geturlforblock('Commerce', 'Cart') }}" class="bg-cart">
        {{ 'lbl.Cart'|trans|ucfirst }}
        <span data-cart-total-quantity>{{ cart.totalQuantity }}</span>
    </a>
</div>
