/**
  * Our theme's custom CSS
  */
/* Add a default link to editor links */
.editor a:not([class]) {
    @apply text-yellow-500 transition-colors duration-200 hover:text-gray-900;
}

h3 {
    @apply mb-4 text-xl font-bold tracking-wide text-gray-800 no-underline uppercase hover:no-underline;
}

/** AlpineJS */
[x-cloak] { display: none !important; }

/* Override the Photoswipe modal overlay */
.pswp__bg {
    background: #fff !important;
}

/* Override the Splide carousel style to make the arrows prettier */
.splide__arrow {
    opacity: 1 !important;
    border-radius: inherit !important;
    background: none !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    @apply transition-colors duration-200 hover:text-yellow-500;
}
.splide__arrow svg {
    width: inherit !important;
    height: inherit !important;
    fill: none !important;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    @apply border-2 border-yellow-500 !important;
}

/* Button animation when submitting a form to prevent double clicks */
form.is-submitting button[type='submit'],
button.is-submitting {
    @apply opacity-25 cursor-not-allowed outline-none overflow-hidden relative;
}

form.is-submitting button[type='submit']::before,
button.is-submitting::before {
    content: '';
    height: 0.2em;
    animation: move 1s linear infinite;
    @apply absolute left-0 right-0 top-0 bg-yellow-500;
}

@keyframes move {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


/**
    Algolia
    @see https://www.algolia.com/doc/ui-libraries/autocomplete/api-reference/autocomplete-theme-classic/
*/
.js-search-button .aa-DetachedSearchButtonIcon {
    color: theme('colors.gray.600') !important;
    width: auto !important;

    &:hover {
         @apply hover:text-yellow-500;
     }
}
.aa-DetachedSearchButtonIcon .aa-SubmitIcon {
    width: 24px !important;
    height: 24px !important;
    transform: scale(0.9);
}

:root {
    --aa-primary-color-rgb: 217, 119, 6 !important;
}

/** Safari on iOS will zoom in when input field text size is <16px **/
@screen lg {
    :root {
        --aa-font-size: 15px !important;
    }
}

.aa-ItemIcon--picture {
    height: 75px !important;
    width: 75px !important;
}

.aa-ItemIcon--picture img {
    padding: 0 !important;
    object-fit: cover !important;
    max-height: inherit !important;
    max-width: inherit !important;
}


