/**
  * Our theme's custom CSS
  */
/* Add a default link to editor links */
.editor a:not([class]) {
    @apply text-yellow-500 transition-colors duration-200 hover:text-gray-900;
}

h3 {
    @apply mb-4 text-xl font-bold tracking-wide text-gray-800 no-underline uppercase hover:no-underline;
}

/* Override the Photoswipe modal overlay */
.pswp__bg {
    background: #fff !important;
}

/* Override the Splide carousel style */
.splide__arrow {
    opacity: 1 !important;
    border-radius: inherit !important;
    background: none !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    @apply transition-colors duration-200 hover:text-yellow-500;
}
.splide__arrow svg {
    width: inherit !important;
    height: inherit !important;
}

.splide--nav > .splide__track > .splide__list > .splide__slide.is-active {
    @apply border-2 border-yellow-500 !important;
}

/* Animation when submitting */
form.is-submitting button[type='submit'],
a.is-submitting {
    position: relative;
    overflow: hidden;
    @apply bg-gray-600;
    outline: 0;
}

form.is-submitting button[type='submit']::before,
a.is-submitting::before {
    position: absolute;
    content: '';
    height: 0.2em;
    left: 0;
    right: 0;
    top: 0;
    animation: move 1s linear infinite;
    @apply bg-yellow-500;
}

@keyframes move {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
