{
    // Based on https://react-from-scratch-slides.netlify.com/extras/dev-environment#22
    // And https://www.robertcooper.me/using-eslint-and-prettier-in-a-typescript-project
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": ["plugin:@typescript-eslint/recommended", "prettier","plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "parserOptions": {
        "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module", // Allows for the use of imports
        "ecmaFeatures": {
            "jsx": true // Allows for the parsing of JSX
        }
    },
    "rules": {
        "linebreak-style": ["error", "unix"],
        "prettier/prettier": ["warn"],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-comment": "off"
    },
    "globals": {
        "process": true
    }
}
