# Always store the exact version of a package in package.json
save-exact=true

# Turn off optional packages. If set to true, node-kafka will install snappy which requires python.
# However, we don't need this and don't want to install python in our Docker image
optional=false
