on:
  pull_request_target:
    types:
      - closed

env:
  DEPLOY_NAME: pr-${{ github.event.number }}-jessedobbelaere

# See: https://okteto.com/docs/tutorials/preview-environments/#step-6-cleanup
name: Cleanup PR Preview
jobs:
  close-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Login
        uses: okteto/login@master
        with:
          token: ${{ secrets.OKTETO_TOKEN }}

      - name: Delete preview
        uses: okteto/destroy-preview@master
        with:
          name: ${{ env.DEPLOY_NAME }}
